*{
  font-family: 'Helvetica Neue',sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PARALLAX IMAGES */

.image{ 
  position: relative;
  height: 150vh;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.content span.img-txt {
  background-color: #151515;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
}

h3{
  letter-spacing: 6px;
  text-transform: uppercase;
  font: 1.3rem;
  text-align: center;
  
  
}

.full-text-box{
  text-align: center;
  padding: 3rem 1rem;
  text-align: justify;
}


/* NAV BAR */
.navbar {
  position: fixed; /* perma on screen*/
  top: 0; 
  left: 50%; /* centers the nav bar */
  transform: translateX(-50%); /* ensures centering is accurate */
  background-color: None;     
  padding: 10px 20px;
  margin-top: 5%;
  z-index: 1000; /* ensures the nav bar stays on top */
  max-width: 80%; /* set the max width as per your design preference */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  border-radius: 15px;  
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
}

.nav-item a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #aaa;
}


@media (max-width: 768px) {
  .navbar {
      max-width: 100%;
      left: 0;
      transform: translateX(0);
  }
}



/*about me */
.about-me-container {
  display: flex;
  align-items: center;
  background: None;
  padding: 20px;
  margin: 60vh;
  border-radius: 15px;
  border: solid;
  border-color: #151515;
}

.profile-image-section img {
  width: 15em; 
  border-radius: 50%;
  margin-right: 20px;
  border: solid;
}

.bio-section h1 {
  font-size: 2em;
  color: #949384;
  text-align: center;
  
}

.bio-section p {
  color: black; 
}

.content{
  padding-top: 10%; padding-bottom: 10%;

}